
.navbar-light .navbar-nav .nav-link {
    color: #1b7340;
    font-weight: bold;
    
}


footer p{
    margin: 0;
}

footer a{
    color: white;
}
footer a:hover{
    
    color: lightgray;
    background-color: transparent;
}

